<div class=" background2">
    <div class="container  background1">
      	<div class="row">
        	<div class="col-lg-9 col-sm-8">
				<br>
            	<h1><strong></strong>Miles & More – Meilen sammeln</h1>
            	<p>
						Miles &amp; More ist mit mehr als 28 Millionen Teilnehmern das größte Vielfliegerprogramm Europas und auf den deutschsprachigen Markt zugeschnitten. Neben Lufthansa ist es das offizielle Vielfliegerprogramm von Austrian, Swiss, LOT Polish Airlines, Brussels Airlines, Luxair, Adria Airways, Air Dolomiti und Croatia Airlines. Nachfolgend erfährst du, wie du optimal Miles &amp; More Meilen sammeln kannst:
				</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<h2>Miles &amp; More Meilen sammeln: Meilenarten</h2>
				<a>Miles &amp; More unterscheidet zwischen <strong>4 Arten von Meilen</strong>:</a>
				<h4>Prämienmeilen:</h4>
				<p>Prämienmeilen sind vergleichbar mit einer Währung: verdiente Meilen können für Awardflüge eingelöst werden, wodurch sich das Meilenkonto um die eingelösten Meilen verringert. Neben dem Fliegen gibt es viele Möglichkeiten, Prämienmeilen zu sammeln. Diese findest du nachfolgend auf dieser Seite aufgeführt.</p>
				<h4>Statusmeilen:</h4>
				<p>Im Zeitraum vom 1.1. bis 31.12. eines Kalenderjahres werden alle gesammelten Meilen auf deinem Meilenkonto addiert, wodurch sich dann der Status für die folgenden zwei Kalenderjahre berechnet. Also Qualifikationszeitraum wird also das Kalenderjahr herangezogen. Am 1.1. des Folgejahres wird der Zählerstand auf 0 zurück gesetzt und der Qualifikatonszeitraum beginnt erneut. Alle Informationen zu den Miles &amp; More Statusstufen findest du in der <strong><a href="http://www.meilenpunkteundmehr.de/miles-more-status/">Stausübersicht</a></strong>.</p>
				<h4>HON Circle Meilen:</h4>
				<p>HON Circle Meilen dienen nur als Qualifikation für den HON Circle Status. Für dessen Qualifikation werden 600.000 Meilen in 2 aufeinanderfolgenden Jahren benötigt. HON Circle Meilen werden nur für Business- und First Class Flüge der Lufthansa Group sowie für Flüge im BEST Tarif von Eurowings vergeben.</p>
				<h4>Select Meilen:</h4>
				<p>2014 hat Lufthansa zusätzlich die Select Meilen eingeführt. Je gesammelte Meile als Frequent Traveller oder Senator erhält man eine Select Meile, als HON Circle Member erhält man eine Select Meile je HON Circle Meile. Je mehr Select Meilen gesammelt werden, desto mehr Vorteile wie Lounge Voucher oder Upgrade Voucher können ausgewählt werden.</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<h2>Miles &amp; More Meilen sammeln: Fliegen</h2>
				<p>Beim Sammeln von Meilen durch Fliegen unterscheidet Miles &amp; More in die Berechnung der Prämien- und Statusmeilen. Während Statusmeilen abhängig von der Buchungsklasse berechnet werden, werden Prämienmeilen auf Basis des Ticketpreises berechnet.</p>
				<h3>Statusmeilen</h3>
				<p>Die <strong>Höhe der Meilengutschrift</strong> hängt von der <strong>Buchungsklasse</strong> ab. Die Buchungsklasse unterscheidet sich von der Beförderungsklasse (Economy, Premium Economy, Business, First). Jede Beförderungsklasse ist in unterschiedliche Buchungsklassen aufgeteilt, je nachdem zu welchem Tarif das Ticket gekauft wurde. Neben unterschiedlichen Tarifregeln (Umbuchung, Stornierung, etc.) hängt auch die Meilenvergabe von der Buchungsklasse ab.<br><br>Die Höhe der Meilengutschrift lässt sich auf der Miles &amp; More Homepage berechnen. Zuerst muss die <a href="https://www.miles-and-more.com/online/myportal/mam/de/earn/flight?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Meilenvergabe für die gebuchte Airline und Buchungsklasse</a> in Erfahrung gebracht werden:</p>
				<h4>Bsp. 1: Grenzüberschreitender europäischer Flug ausgeführt von Lufthansa in Buchungsklasse S: 500 Meilen pro Segment</h4>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<p>Die Meilen von Frankfurt nach San Francisco lassen sich mit diversen Tools wie dem <strong><a href="http://www.gcmap.com/" target="_blank" rel="noopener noreferrer">Great Circle Mapper</a> </strong>berechnen:</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<p>Dabei müssen die<strong> Flughafencodes</strong> benützt werden. Diese findet ihr wiederum <a href="http://www.flugzeuginfo.net/table_airportcodes_country-location_dt.php" target="_blank" rel="noopener noreferrer">hier</a>:</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<p>Wir wissen also, dass die Distanz zwischen Frankfurt – San Francisco 5699 Meilen beträgt und wir 200% der Meilen bekommen. Für den einfachen Flug bekommen wir also 5699 * 200%  = 11.398 Meilen. Falls ein Status bei Miles and More vorhanden ist gibt es nochmal 25% Executive Bonus, also insgesamt 14.248 Meilen.<br><br>Wenn du mit einer anderen Star Alliance Fluggesellschaft fliegst erfolgt die Berechnung genauso. Meilen können bei allen Star Alliance Mitgliedern sowie einigen weiteren Partnerairlines gesammelt werden. Zuerst sucht man sich den Wert der Meilenvergabe der Partnerairline für die gebuchte Strecke und Buchungsklasse heraus und berechnet dann die Meilen mit Hilfe des Great Circle Mappers.</p>
				<h3>Prämienmeilen</h3>
				<p>
					Seit dem 12.3.2018 werden die Prämienmeilen in vielen Fällen nicht mehr nach der Buchungsklasse sondern auf<strong> Basis des Ticketpreises</strong> berechnet. Dabei sind alle Tickets betroffen, die ab dem 12.3.2018 <strong>von Airlines der Lufthansa Group ausgestellt werden</strong>. Wenn das Ticket von einer anderen Airline ausgestellt wird, dann werden die Prämienmeilen analog zu den Statusmeilen berechnet.<br><br>
					<strong>Berechnungsgrundlage</strong> is der Flugpreis inklusive der von der Airline erhobenen Steuern und Gebühren.  Beim untenstehendem Beispiel ist die Berechnungsgrundlage der Ticketpreis von 354€ sowie der Internationale/Nationale Zuschlag von 51€, insgesamt also 405€. Im Gegensatz zu Statusmeilen werden Prämienmeilen nicht pro Flugsegment sonden für das gesamte Ticket vergeben.<br><br>
					Diese Zahl wird dann mit einem <strong>Faktor multipliziert</strong>:
				</p>
				<ul>
					<li>Miles &amp; More Mitglieder: 4</li>
					<li>Miles &amp; More Statusinhaber: 6</li>
					<li>Miles &amp; More Statusinhaber auf Flügen von Brussels Airlines oder Eurowings: 5</li>
				</ul>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<p>Eine genaue Erklärung des neuen Systems findest du auch in <a href="https://youtu.be/JSOU6-DsnV4" target="_blank" rel="noopener">diesem Video</a>.</p>
				<h2>Miles &amp; More Meilen sammeln: Kreditkarten</h2>
				<p>Mithilfe von einer meilenfähigen Kreditkarte wie der <strong><a href="http://www.meilenpunkteundmehr.de/go/mmgoldworldplus1" target="_blank" rel="noopener">Miles &amp; More Credit Card Gold</a></strong> sammelst du <strong>Meilen für deine Kreditkartenumsätze</strong> und erhälst einen Willkommensbonus von 15.000 Meilen! Wenn du deine Flugbuchungen, Hotelübernachtungen, Mietwagenbuchungen und sonstigen alltäglichen Ausgaben darüber laufen lässt kommen schnell viele Meilen zusammen. Einen <strong>Vergleich aller aktuellen Kreditkarten</strong> findest du <a href="http://www.meilenpunkteundmehr.de/kreditkarten-deutschland-meilen-sammeln/">hier</a>.</p>
				<h2>Miles &amp; More Meilen sammeln: Zeitungsabos</h2>
				<p>Wenn dir noch einige Meilen für einen Prämienflug fehlen, sind Zeitungsabos eine hervorragende Möglichkeit die fehlenden Meilen zu generieren! Da die Zeitungsverlage neue Abos mit zusätzlichen Prämienmeilen vergüten lassen sich so die fehlenden Meilen kostengünstig generieren. Auf meinem <strong><a href="https://www.youtube.com/watch?v=Jlcwq8GE5d4" target="_blank" rel="noopener">Youtube Kanal</a></strong> findest du weitere Informationen dazu.</p>
				<h4>Es gibt <strong>zwei Arten Meilen mit Hotelübernachtungen zu sammeln</strong>:</h4>
				<h5><strong>Meilen bei Partnerhotels sammeln:</strong></h5>
				<p>Viele Kettenhotels bieten dir die Möglichkeit, entweder bei ihrem eigenen Bonusprogramm Punkte oder bei einer Partnerairline Meilen zu sammeln. Die Höhe der Meilenvergabe ist abhängig vom Partnerprogramm und den derzeitigen Aktionen. Die Miles &amp; More Hotelpartner kannst du <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/hotel?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">hier</a> einsehen.</p>
				<h5><strong>Meilen über das Miles &amp; More <a href="https://www.miles-and-more.com/online/portal/mam/de/earn/hotel/hotel_platform?l=de&amp;cid=18002" target="_blank" rel="noopener">Hotelportal</a> sammeln:</strong></h5>
				<p>Das Hotelportal ist ein Hotelvermittler, ähnlich wie Onlinereisebüros wie Expedia oder Ebookers. Für Buchungen über das Portal erhälst du mindestens 1000 Meilen pro Aufenthalt. Achtung: Dabei solltest du den Preis unbedingt einem Preisvergleich unterziehen, beispielsweise mit Trivago. Manchmal ist das Miles &amp; More Hotelportal etwas teurer, daher gilt es zu überprüfen ob sich eine Buchung darüber rechnet wenn man die generierten Meilen einbezieht.</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<h2>Miles &amp; More Meilen sammeln: Mietwagen</h2>
				<p class="mceTemp">Typischerweise gibt es 500 Meilen pro Anmietung. Manche Aktionen bieten allerdings auch mehr Meilen. Die aktuellen Aktionen findest du <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/car_rental?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">hier</a>.</p>
				<h2>Miles &amp; More Meilen sammeln: Finanzen &amp; Versicherungen</h2>
				<p>Für den Abschluss diverser <a href="https://www.miles-and-more.com/online/myportal/mam/de/earn/banking?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Versicherungen oder die Eröffnung von Konten</a> können viele Meilen generiert werden. Es versteht sich von selbst, dass eine Versicherung nur nach einem gründlichen Vergleich abgeschlossen werden sollte. Uneingeschränkt empfehlen kann ich das kostenfreie DKB Cash Girokonto, das ich selbst im Ausland nutze, um die teuren Gebühren der Bargeldbeschaffung an Automaten zu umgehen.</p>
				<h2>Miles &amp; More Meilen sammeln: Holidaycheck.de</h2>
				<p><a href="https://www.holidaycheck.de/wcf/hotelreview/" target="_blank" rel="noopener noreferrer">Holidaycheck</a> ist ein Hotelbewertungsportal. Hier erhältst du für Hotelbewertungen Meilen, üblicherweise 100 Meilen pro Hotelbewertung, manchmal jedoch auch mehr. Du kannst maximal 10 Bewertungen pro Monat abgeben.</p>
				<h2>Miles &amp; More Meilen sammeln: Mytaxi und Blacklane</h2>
				<p>Sowohl mit <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/other_partners/offer?nodeid=1126302193&amp;l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Mytaxi</a> als auch mit dem Chauffeurservice <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/special_offers/offer?nodeid=123380155&amp;l=de&amp;cid=18002&amp;WT.svl=img_EarnTopOffersAggr_1380827551" target="_blank" rel="noopener noreferrer">Blacklane</a> lassen sich Meilen generieren. So kannst du auch für deinen Transfer zum Flughafen Meilen sammeln.</p>
				<figure>
					<img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
				</figure>
				<h2>Miles &amp; More Meilen sammeln: Payback</h2>
				<p>
					Als eines der größten Bonusprogramme Deutschlands kannst du mit Payback bei vielen Partnern Punkte sammeln. Das Besondere dabei ist, dass du diese 1:1 in Miles &amp; More Meilen umwandeln kannst!<br>
					Zum einen kannst du bei den <a href="https://www.payback.de/pb/partner/id/16380/" target="_blank" rel="noopener noreferrer">offiziellen Partnern</a> Meilen sammeln, z.B. bei ARAL, DM, REWE, REAL, etc.<br>
					Zum anderen erhälst du auch beim Einkauf bei über<a href="https://www.payback.de/online-shopping/" target="_blank" rel="noopener noreferrer"> 600 Onlineshops</a> Meilen. Dazu gehören unter anderem: Ebay, Tchibo, Check24, Quelle, Otto, und viele mehr.<br>
					Mit Hilfe von regelmäßigen Coupon Aktionen kannst du deine Punkte vervielfachen! So erhältst du z.B. mit einen 10x Coupon bei REWE die 10-Fache Anzahl an Meilen für deinen Einkauf! Diese kannst du direkt in der Payback App oder im Online Portal aktivieren.
				</p>
				<h2>Miles &amp; More Meilen sammeln: Weitere Partner</h2>
				<p>
					Bei <a href="http://www.kreuzfahrten.de/milesandmore" target="_blank" rel="noopener noreferrer">Kreuzfahrten.de</a> erhälst du eine Meile je 1€ Umsatz.<br>
					Im Bereich Telekommunikation &amp; Elektronik bietet die Telekom regelmäßig <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/telecom?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Angebote</a> zum Meilen sammeln.<br>
					Im Bereich Shopping &amp; Lifestyle bieten diverse Onlineshops Meilen für <a href="http://www.miles-and-more.com/online/portal/mam/de/earn/shopping?l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Einkäufe</a>.<br>
					Mehr Partner und aktuelle Aktionen findet ihr auf der Miles &amp; More Homepage!
				</p>
				<h2>Miles &amp; More Meilen sammeln: Meilenverfall</h2>
				<p>
					Miles &amp; More Prämienmeilen verfallen 36 Monate nachdem sie gesammelt wurden. Der Meilenverfall wird ausgesetzt, solange du einen Status bei Miles &amp; More hast.<br><br>
					Wenn du keinen Status hast kannst du dem Meilenverfall mit einer<a href="http://www.meilenpunkteundmehr.de/kreditkarten-deutschland-meilen-sammeln/"> <strong>Kreditkarte</strong> </a>vorbeugen!
				</p>
			</div>
			<app-right-bar class="col-lg-3 col-sm-4 background1"></app-right-bar>
	  	</div>
   	</div>
 </div>


