<div class=" background2">
    <div class="container  background1">
      <div class="row">
        <div class="col-lg-9 col-sm-8">
            <br>
            <h1><strong></strong>American Express - Membership Rewards Punkte sammeln</h1>
            <p>
                American Express ist neben Visa und Master Card der größte Anbieter von Kreditkartendienstleistungen auf dem deutschsprachigen Markt. Eine Besonderheit von Amex ist, dass die Firma ihr eigenes Bonusprogramm <strong>Membership Rewards</strong> anbietet. Im Gegensatz zu Kreditkarten wie der <a href="http://www.meilenpunkteundmehr.de/go/mmgoldworldplus" target="_blank" rel="noopener">Miles &amp; More Gold World Plus Kreditkarte</a> können nicht nur Meilen bei einem bestimmten Vielfliegerprogramm gesammelt werden, sondern direkt bei Membership Rewards. Die gesammelten Punkte können dann flexibel zu anderen Vielfliegerprogrammen übertragen werden. Somit nimmt das Programm eine Sonderrolle ein und ist mit Payback vergleichbar. Nachfolgend erfährst du, wie du Membership Rewards Punkte sammeln kannst.<br><br>
                Um Membership Rewards Punkte zu sammeln benötigt man eine American Express Kreditkarte. Bei der Beantragung einer neuen Kreditkarte lockt American Express bereits mit <strong>üppigen Willkommenspunkten</strong>.
            </p>
            <h2>Membership Rewards Punkte sammeln: Die Karten</h2>
            <p>Mit einem Wohnsitz in Deutschland kannst du aus den folgenden Karten wählen:</p>
              <table>
                  <thead>
                    <tr>
                      <th>Kreditkarte</th>
                      <th><span style="padding-left:35px;">Prämie</span></th>
                      <th><span style="padding-left:35px;">Preis</span></th>
                      <th><span style="padding-left:35px;">Highlights</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><!-- Beginn http://www.financeads.net/-Code --><a href="http://meilenpunkteundmehr.de/go/amexgold1" target="_blank" rel="noopener">American Express Gold Card</a><img src="http://www.financeads.net/tb.php?t=25858V14013193T" alt="" width="0" height="0" border="0" /><!-- Ende http://www.financeads.net/-Code -->
                
                <!-- Beginn http://www.financeads.net/-Code --><a href="http://meilenpunkteundmehr.de/go/amexgold" target="_blank" rel="noopener"><img src="http://www.financeads.net/tb.php?t=25858V14013167B" class="creditcards" alt="American Express Gold Card" width="200" height="127" border="0" /></a><!-- Ende http://www.financeads.net/-Code --></td>
                      <td><li>50€ Startguthaben (bei 1.000€ Umsatz innerhalb von 3 Monaten)</li>
                <li>Alternativ: 20.000 MR Punkte durch Frendschaftswerbung. Für den Einladungslink schick einfach eine Email an patrick@meilenpunkteundmehr.de</li>
                <li>Bei Meilenturbo: 1,5MR Punkte je 1€ Umsatz</li></td>
                      <td><li>Kostenlos im 1. Jahr</li>
                <li>Regulär ab 2. Jahr 140€ (entfällt bei genügend Umsatz)</li></td>
                      <td><li>Reisekomfortpaket inklusive Reiserücktrittskosten-, Auslandskrankenschutz, Reisegepäck- und Reiseunfall- Versicherung</li>
                <li>MR Punkte zu vielen <a href="https://catalogue.membershiprewards.de/viewpartneroverview.mtw" target="_blank">Programmen transferierbar</a>, z.B.
                Miles &amp; More (über Payback),
                Executive Club, Flying Blue, Hilton Honors, SPG Preferred Guest, etc.
                </li>
                <li>Vergünstigter Priority Pass für mehr als 850 Airport Lounges
                </li>
                </td>
                    </tr>
                    <tr>
                      <td><!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexpayback1" target="_blank" rel="noopener">American Express Payback Card</a><img src="http://www.financeads.net/tb.php?t=25858V14019383T" alt="" width="0" height="0" border="0" /><!-- Ende http://www.financeads.net/-Code -->
                
                <!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexpayback" target="_blank" rel="noopener"><img src="http://www.financeads.net/tb.php?t=25858V14019524B" class="creditcards" alt="Amex Payback Kreditkarte" width="200" height="127" border="0" /></a><!-- Ende http://www.financeads.net/-Code --></td>
                      <td><li>1.000 Payback Punkte als Willkommensgeschenk</li>
                <li>Punkte sammeln bei allen Payback Partnern</li>
                <li>Zusätzlich 1 Punkt je 2€ Umsatz</li>
                <li>Zusatzkarten punkten mit</li></td>
                      <td><li>Dauerhaft kostenlos</li></td>
                      <td><li>Eine Zusatzkarte inklusive</li>
                <li>Punkte flexibel zu anderen Programmen übertragen</li>
                <li>Kein Punkteverfall</li>
                <li>American Express Invites ®: Bevorzugter Zugang zu ausgewählten Events</li></td>
                    </tr>
                    <tr>
                      <td><!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexplatinum1" target="_blank" rel="noopener">American Express Platinum Card</a><img src="http://www.financeads.net/tb.php?t=25858V14013844T" alt="" width="0" height="0" border="0" /><!-- Ende http://www.financeads.net/-Code -->
                
                <!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexplatinum" target="_blank" rel="noopener"><img src="http://www.financeads.net/tb.php?t=25858V14013839B" class="creditcards" alt="American Express Platinum Card" width="200" height="127" border="0" /></a><!-- Ende http://www.financeads.net/-Code --></td>
                      <td><li>30.000 MR Punkte als Willkommensgeschenk (bei 2.000€ Umsatz innerhalb von 3 Monaten)</li>
                <li>1MR Punkt je 1€ Umsatz</li>
                <li>Bei Meilenturbo: 1,5MR Punkte je 1€ Umsatz</li></td>
                      <td><li>600€ Jahresgebühr für bis zu 7 Karten</li>
                <li>Die Aufnahmegebühr von 300€ entfällt</li></td>
                      <td><li>2 Prioritypässe inklusive 
                für gratis Loungezugang</li>
                <li>Valet Parking an den 8 größten deutschen Flughäfen</li>
                <li>Persönlicher Reise-und Lifestyle-Service</li>
                <li>Umfangreiches Versicherungspaket</li></td>
                    </tr>
                    <tr>
                      <td><!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexgreen1" target="_blank" rel="noopener">American Express Green Card</a><img src="http://www.financeads.net/tb.php?t=25858V14013250T" alt="" width="0" height="0" border="0" /><!-- Ende http://www.financeads.net/-Code -->
                
                <!-- Beginn http://www.financeads.net/-Code --><a href="http://www.meilenpunkteundmehr.de/go/amexgreen" target="_blank" rel="noopener"><img src="http://www.financeads.net/tb.php?t=25858V14013196B" class="creditcards" alt="American Express Green Card" width="200" height="127" border="0" /></a><!-- Ende http://www.financeads.net/-Code --></td>
                      <td><li>5.000 MR Punkte als Willkommensgeschenk (bei 1.000€ Umsatz innerhalb von 3 Monaten)</li>
                <li>1MR Punkt je 1€ Umsatz</li>
                <li>Bei Meilenturbo: 1,5MR Punkte je 1€ Umsatz</li></td>
                      <td><li>Kostenlos im 1. Jahr</li>
                <li>Dauerhaft beitragsfrei ab einem Jahresumsatz über 4.000€ (Regulär ab 2. Jahr 55€)</li></td>
                      <td><li>Umfangreicher Versicherungsschutz z. B. bei Flug- oder Gepäckverspätungen, Gepäckverlust, bei Diebstahl, Beschädigung, Verkehrsmittel-Unfall</li>
                <li>Ausgezeichnet als "Beste Kreditkarte mit Jahresgebühr" durch FOCUS Money, 
                Ausgabe 36/16</li>
                <li>American Express Invites ®: Bevorzugter Zugang zu ausgewählten Events</li></td>
                    </tr>
                  </tbody>
                </table>
              <h2>Membership Rewards Punkte sammeln: Mehr Punkte dank Turbo!</h2>
              <p>
                  Regulär erhälst du für jeden ausgegebenen Euro einen Membership Rewards Punkt. Mit dem Turbo kannst du die<strong> Ausbeute sogar auf 1,5 Punkte je Euro steigern</strong>. Um den Turbo zu aktivieren verrechnet American Express 15€ pro Kalenderjahr. Wenn man den Wert eines Punkts mit 1 Cent pro Punkt ansetzt dann rechnet sich der Turbo ab 3.000€ Jahresumsatz.<br><br>
                  Mit dem Turbo erhälst du also 1,5 Punkte je Euro, allerdings nur bis zu einem Jahresumsatz von 40.000€ Darüber hinaus erhältst du wieder einen Punkt je Euro. Somit kannst du mit einer American Express Kreditkarte also <strong>mehr Meilen je Euro sammeln als mit jeder anderen Kreditkarte auf dem deutschen Markt</strong>.<br><br>                  
                  Um den Turbo zu aktivieren genügt ein Anruf bei American Express. Dieser wird im Gegensatz zu früher zwar nicht mehr öffentlich beworben, kann aber nach wie vor problemlos aktiviert werden.                  
              </p>
              <h2>Membership Rewards Punkte sammeln: Centurion Lounges</h2>
              <p>
                  American Express hat vor ein paar Jahren mit der Eröffnung von <strong>eigenen Lounges</strong> als Alternative zu den Lounges der Airlines begonnen. Im Gegensatz zu vielen Contract Lounges bieten diese eine ansehnliche Auswahl an Speisen. Ein Vorteil der <strong><a href="http://www.meilenpunkteundmehr.de/go/amexplatinum" target="_blank" rel="noopener">American Express Platinum Card</a></strong> ist der Zugang zu diesen Lounges. Darüber hinaus sind auch noch zwei Priority Pass enthalten, die <strong>Zugang zu über 1.000 Contract Lounges weltweit</strong> bieten. Die günstigere American Express Gold Karte in Deutschland bietet diesen Vorteil leider nicht.<br><br>
                  Die<strong> <a href="http://www.meilenpunkteundmehr.de/go/atamexgold" target="_blank" rel="noopener">österreichische Version der American Express Gold Karte</a></strong> bietet allerdings Zugang zu <strong>Lounges am Flughafen Wien</strong>.
            </p>
            <figure class="figure">
                  <img class="img-fluid max-width: 100% height: auto rounded float-left" src="http://www.meilenpunkteundmehr.de/wp-content/uploads/2017/10/AmericanExpressCenturionLounge-1024x768.jpg" alt="Membership Rewards Punkte sammeln: Amex Centurion Lounge" width="625" height="469" />
                  <figcaption class="figure-caption">American Express Centurion Lounge, <a href="https://www.flickr.com/photos/dionhinchcliffe/30056179332" target="_blank" rel="noopener">Dion Hinchcliffe</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" target="_blank" rel="noopener">CC BY-SA 2.0</a></figcaption>
            </figure>
              <h2>Membership Rewards Punkte sammeln: Umwandlung in Meilen</h2>
              <p>Das Sammeln von Membership Rewards Punkten bietet im Vergleich zum direkten Sammeln einen riesigen Vorteil: Die Punkte sind <strong>flexibel in Meilen der verschiedenen Meilenprogramme konvertierbar</strong>. Üblicherweise erfolgt die Umwandlung in <strong>Verhältnis 5:4</strong>. Das bedeutet, dass 10.000 Membership Rewards Punkte in 8.000 Meilen umgewandelt werden. Gelegentlich gibt es auch Aktionen mit einem höheren Transferbonus. Die Umwandlung ist zu den folgenden Programmen möglich:</p>
                   <strong>Meilenprogramme:</strong>
                  <ul>
                        <li>Air France / KLM Flying Blue</li>
                        <li>Alitalia Mille Miglia</li>
                        <li>British Airways Executive Club</li>
                        <li>Cathay Pacific Asia Miles</li>
                        <li>Delta Skymiles</li>
                        <li>Emirates Skywards</li>
                        <li>Etihad Guest</li>
                        <li>Finnair Plus</li>
                        <li>Iberia Plus</li>
                        <li>Qatar Privilege Club</li>
                        <li>SAS Euro Bonus</li>
                        <li>Singapore Airlines KrisFlyer</li>
                  </ul>
                  <strong>Hotelprogramme:</strong>
                  <ul>
                        <li>Club Carlson</li>
                        <li>Hilton Honors</li>
                        <li>Starwood Preferred Guest</li>
                  </ul>
                  <strong>Sonstige Programme:</strong>
                  <ul>
                        <li>Payback</li>
                  </ul>
                  <p>Eine direkte <strong>Umwandlung von Membership Rewards Punkten in Miles &amp; More Meilen</strong> ist zwar nicht möglich, es gibt aber die Möglichkeit die Punkte zuerst in Payback Punkte zu transferieren und diese wiederum in Miles &amp; More Meilen umzuwandeln. Dabei erfolgt die Umwandlung zu Payback im Verhältnis 2:1. Durch den Turbo wurden vorher aber bereits 150% Membership Rewards Punkte gesammelt, wodurch aus 1€ Umsatz 0,75 Payback Punkte und somit 0,75 Miles &amp; More Meilen werden. Damit ist die Meilenausbeute bei Miles &amp; More bei American Express sogar höher als mit Miles &amp; More Kreditkarten.</p>
                  <h2>Membership Rewards Punkte sammeln: Kündigung der Karte</h2>
                  <p>
                        Die Karten können jederzeit mit einem Monat Kündigungsfrist gekündigt werden. American Express erstattet zudem bereits bezahlte Jahresentgelte anteilig zurück. Somit ist die Kündigung der Karte sehr kundenfreundlich.<br><br>
                        <a href="http://www.meilenpunkteundmehr.de/kreditkarten-deutschland-meilen-sammeln/">Hier</a> findest du einen<strong> Vergleich von allen Kreditkarten</strong> mit denen das Meilensammeln möglich ist.
                  </p>
       </div>
       <app-right-bar class="col-lg-3 col-sm-4 background1"></app-right-bar>
    </div>
  </div>
</div>