  <div><br><br>
    <div>
      <img class="right_bar_center" src="../../assets/mpum_logo_ohne-fuellung.png" width="200" height="200" alt="Meilen Punkte und mehr Logo">
    </div>
    <div><br><br>
      <h4>Mehr Meilen sammeln:</h4>
    </div>
    <div>
      <p>
        Miles & More World Plus Karte
      </p>
        <div class="bliss-zoom">
            <!-- Beginn http://www.financeads.net/-Code -->
            <a href="http://www.meilenpunkteundmehr.de/go/mmgoldworldplus" target="_blank" rel="noopener">
              <img src="https://www.financeads.net/tb.php?t=25858V54524869B&https=1"  class="right_bar_center img-fluid" alt="Miles and More Kreditkarte" width="200" height="127" border="0" />
            </a><!-- Ende http://www.financeads.net/-Code -->
           <div class="mask flex-center">
           </div>
        </div>
    </div><br><br>
  </div>
  <div>
    <h4>Newsletter mit Meilentipps sichern!</h4>
    <p>Verpasse keine Aktionen mehr um schneller in der Business Class anzukommen!</p>
    Form
  </div>
  <div>
    Social Media Icons
  </div> 
