<div class=" background2">
    <div class="container  background1">
        <div class="row">
            <div class="col-lg-9 col-sm-8">
                <br>
                <h1>Executive Club - Avios sammeln</h1>
                <p>Der British Airways Executive Club besteht seit 1985 und hat mehr als 7 Millionen Mitglieder. Als Währung fungieren dabei Avios. Das Programm ist nicht zu verwechseln mit Iberia Plus, dem Vielfliegerprogramm von Iberia. Auch bei diesem wird die Währung Avios genannt, allerdings handelt es sich hierbei um ein separates Programm. Auf dieser Seite lernst du, wie du beim Executive Club Avios sammeln kannst.</p>
                <h2>Executive Club Avios sammeln: Meilenarten</h2>
                <p>Der Executive Club unterscheidet 2 Arten von Meilen:</p>
                <h4>Avios (Prämienmeilen):</h4>
                <p>Avios sind das, was bei anderen Programmen als Prämienmeilen bezeichnet wird. Sie dienen als Währung und können gesammelt und für Prämienflüge eingelöst werden. Auf dieser Seite stelle ich dir alle Möglichkeiten vor, wie du viele Avios sammeln kannst.</p>
                <h4>Tier Points (Statusmeilen):</h4>
                <p>Tier Points legen fest, welchen Status du im jeweiligen Qualifikationszeitraum beim Executive Club erreichst. Dafür werden innerhalb von 12 Monaten alle gesammelten Tier Points addiert und der Status für das kommende Jahr berechnet. Nach den 12 Monaten wird der Zähler zurück auf 0 gesetzt. Eine genaue Erklärung hierzu findest du in der <a href="http://www.meilenpunkteundmehr.de/executive-club-statusuebersicht/">Executive Club Statusübersicht</a>.</p>
                <figure>
                    <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                </figure>
                <h2>Executive Club Avios sammeln: Fliegen</h2><br><br>
                <p>Die <strong>Höhe der Meilengutschrift</strong> hängt von der <strong>Buchungsklasse</strong> ab. Die Buchungsklasse unterscheidet sich von der Beförderungsklasse (Economy, Premium Economy, Business, First). Jede Beförderungsklasse ist in unterschiedliche Buchungsklassen aufgeteilt, je nachdem zu welchem Tarif das Ticket gekauft wurde. Neben unterschiedlichen Tarifregeln (Umbuchung, Stornierung, etc.) hängt auch die Vergabe der Avios und Tier Points von der Buchungsklasse ab.
                Wie viele Avios und Tier Points für einen Flug gut geschrieben werden ist auf der <a href="https://www.britishairways.com/de-de/executive-club/collecting-avios/flights" target="_blank" rel="noopener">Seite von British Airways</a> ersichtlich und hängt von der Airline ab. Im Gegensatz zu anderen Vielfliegerprogrammen ist British Airways beim Executive Club mit der Meilenvergabe ziemlich großzügig.<br><br>
                Bei Flügen mit British Airways werden folgende Meilenwerte gutgeschrieben:</p>
                <figure>
                    <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                </figure>
                <p><strong>Beispiel 1:</strong> Ein Langstreckenflug mit British Airways von London LHR nach New York JFK ist in der günstigen Business Buchungsklasse R gebucht. Die Distanz lässt sich direkt mit dem <a href="https://www.britishairways.com/travel/flight-calculator/public/de_de" target="_blank" rel="noopener">Avios Flugrechner</a> berechnen und beträgt 3.458 Meilen. Daher werden für den Flug 150% Avios (5.187) sowie 140 Tier Points geschrieben.</p>
                <figure>
                    <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                </figure>
                <p>Abhängig vom Status bekommt man noch einen Bonus von 25% (Bronze), 50% (Silber) oder 100% (Gold). Für Flüge mit einem Oneworld Partner erfolgt die Berechnung nach dem selben Prinzip. Dabei erleichtert der Avios Flugrechner die Berechnung der Avios und Tier Points erheblich, da nicht wie bei anderen Programmen auf den Great Circle Mapper zurückgegriffen werden muss.</p>
                <h2>Executive Club Avios sammeln: Kreditkarten</h2>
                <p>Einige Jahre konnte man Avios mit einer Barclaycard sammeln doch diese wurde 2015 eingestellt. Dennoch gibt es noch eine gute Möglichkeit Avios mit Kreditkartenumsätzen zu sammeln: <strong>American Express Membership Rewards Punkte</strong>, wie sie mit der<strong> <a href="http://www.meilenpunkteundmehr.de/go/atamexgold" target="_blank" rel="noopener">American Express Gold Card</a></strong> gesammelt werden, können im Verhältnis 5:4 in Avios umgewandelt werden. Wie das ganze funktioniert erkläre ich dir <a href="http://www.meilenpunkteundmehr.de/membership-rewards-punkte-sammeln/"><strong>hier</strong></a>.</p>
                <figure>
                    <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                </figure>
                <h2>Executive Club Avios sammeln: Hotels</h2>
                <p>
                    Große Kettenhotels ermöglichen entweder das Sammeln von Punkten bei ihrem eigenen Treueprogramm oder das <strong>direkte Sammeln von Avios</strong>. Bei einigen Programmen wie Hilton Honors können mit einer Übernachtung sogar Meilen und Punkte gesammelt werden. <a href="https://www.britishairways.com/de-de/executive-club/collecting-avios/hotels" target="_blank" rel="noopener">Hier</a> ist ersichtlich, bei welchen Hotels das direkte Sammeln von Avios möglich ist.<br><br>
                    Zusätzlich ist es auch möglich, bestehende Hotelpunkte in Avios umzuwandeln. Dies ist aber nur zu empfehlen wenn einige Avios für die Wunschprämie fehlen, da der Umrechnungsfaktor in der Regel relativ ungünstig ist.
                </p>
                <h2>Executive Club Avios sammeln: Mietwagen</h2>
                <p>Pro Anmietung bei den großen Autovermietungen werden mindestens 500 Avios vergeben. Darüber hinaus kooperiert der Executive Club auch mit Car Sharing Anbietern wie Zipcar. <a href="https://www.britishairways.com/de-de/executive-club/collecting-avios/car-rental" target="_blank" rel="noopener">Hier</a>  gibt es eine Übersicht über alle Partner.</p>
                <h2>Executive Club Avios sammeln: Shopping &amp; in London Heathrow</h2>
                <p>
                    Direkt am Flughafen Heathrow gibt es 2 Möglichkeiten weitere Avios zu sammeln. Für Zugfahren in die Innenstadt mit dem <strong>Heathrow Express</strong> gibt es 10 Avios pro ausgegebenem £. Zusätzliche bietet das eigenständige Loyalitätsprogramm <strong>Heathrow Rewards</strong> Punkte für Einkäufe in Heathrow. Dabei wird ein Punkt pro £ vergeben. Diese können dann eins zu eins in Avios umgewandelt werden. Mit einer Neukundenaktion gibt es 100 Willkommenspunkte sowie 3.000 Punkte wenn man 150£ umsetzt. Darüber hinaus finden sich weitere Partner im Bereich Shopping <a href="https://www.britishairways.com/de-de/executive-club/collecting-avios/shopping" target="_blank" rel="noopener">hier</a>.
                </p>
                <figure>
                    <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                </figure>
                <h2>Executive Club Avios sammeln: Umfragen</h2>
                <p>Avios können auch für das Beantworten von <a href="https://www.britishairways.com/de-de/executive-club/collecting-avios/shopping" target="_blank" rel="noopener">Online-Meinungsumfragen</a> gesammelt werden. Damit lässt sich zwar kein Vermögen anhäufen aber Kleinvieh macht ja auch Mist. Für die erste Umfrage gibt es bereits 750 Avios.</p>
                <h2>Executive Club Avios sammeln: Meilenverfall</h2>
                <p>Avios bleiben gültig, so lange mindestens alle <strong>36 Monate eine Aktivität</strong> auf dem Konto stattfindet. Eine Aktivität ist durch sammeln, einlösen, kaufen oder teilen definiert. Pro Kalenderjahr kann man zwischen 1.000 und 35.000 Meilen<strong> kaufen</strong>. Dabei gibt es auch Regelmäßig Bonusaktionen mit 30% - 40% Rabatt. <strong>Teilen</strong> bedeutet, dass man Meilen an ein anderes Clubmitglied überträgt, was pro Kalenderjahr mit maximal 27.000 Meilen möglich ist.</p>
            </div>
            <app-right-bar class="col-lg-3 col-sm-4 background1"></app-right-bar>
        </div>
    </div>
</div>
