<div class=" background2">
  <div class="container  background1">
    <div class="row">
      <div class="col-lg-9 col-sm-8">
        <br>
        <h1 style="text-align: left;"><strong></strong>Meilenberatung</h1>
          <p>
            Du willst deine hart verdienten Meilen für einen Traumurlaub einsetzen, hast aber keine Ahnung <em>wo du anfangen sollst</em>?<br><br>
            Du willst dich nicht mit der <em>zeitaufwändigen Awardsuche</em> beschäftigen und hast keine Lust dich mit der Hotline der Airline herumzuschlagen?            
          </p>
          BILD
          <h3 style="text-align: center;">Lass dir von Patrick mit einer Meilenberatung helfen!</h3>
          <p style="text-align: left;">Nicht jeder hat die Zeit und den Nerv sich intensiv mit der Suche nach einem Prämienticket zu beschäftigen. Oft werden dann Meilen für für einen relativ geringen Gegenwert eingelöst, weil sie schon kurz vor dem Verfallsdatum sind oder sie verfallen gar. Doch das muss nicht sein!</p>
          <hr/>
          <h3 style="text-align: center;">3 Gründe warum du dir von Patrick helfen lassen solltest:</h3 >
          <h5>1) Spare tausende Euro!</h5>
          <p>
              Du willst deine hart verdienten Meilen für einen Traumurlaub einsetzen, hast aber keine Ahnung <em>wo du anfangen sollst</em>?
              Du willst dich nicht mit der <em>zeitaufwändigen Awardsuche</em> beschäftigen und hast keine Lust dich mit der Hotline der Airline herumzuschlagen?              
          </p>
          BILD
          <h5>2) Erfahrung:</h5>
          <p>Patrick hat jahrelange Erfahrung, kennt die großen Meilenprogramme in-und-auswendig und weiß wie man aus ihnen den größten Gegenwert herausholt. Irgendwann sprach sich das bei seinen Kollegen herum, die als Unternehmensberater viele Meilen sammelten aber keine Ahnung hatten wie sie diese für ihren Traumurlaub einsetzen konnten. Wenn auch du deine Meilen sinnvoll einlösen willst, melde dich bei Patrick!</p>
          <h5>3) Optionen:</h5>
          <p>
            Sag Patrick bei welchen Meilen- oder Hotelprogrammen du wie viele Punkte hast und wo du hin möchtest. Nach genauer Recherche listet dir Patrick alle Möglichkeiten auf und ist dir auch gerne bei der Buchung der Awards behilflich, da dieser Prozess seitens der Airlines oft unnötig kompliziert ist.
          </p>
          BILD
          <hr/>
          <h3 style="text-align: center;">Rezensionen</h3>
          <div>
            <h5>Das sagt Katja W.:</h5>
            <figure class="figure float_left">
                <img class="img-fluid max-width: 100% height: auto rounded float-left" src="../../assets/katja.gif" alt="Meilenberatung: Katja" width="269" height="285" />
                <figcaption class="figure-caption">Katja</figcaption>
              </figure>
            <p>
              Ich arbeite für einen DAX Konzern und muss beruflich viele Langstrecken fliegen. Zum Glück werden meine beruflichen Langstreckenflüge in Business Class gebucht. Allerdings wusste ich früher nie bei welchem Meilenprogramm ich welche Flüge gutschreiben lassen konnte. Patrick hat mir im 1. Schritt geholfen meine Sammelstrategie zu optimieren, sodass sich auf meinen Meilenkonten mittlerweile viele Meilen angesammelt haben. Jetzt verstehe ich wie ich vor anstehenden Flügen leicht prüfen kann bei welchem Programm ich die maximale Meilenausbeute herausholen kann!
              Letzten Sommer habe ich eine Freundin in Vancouver besucht und wollte zuerst zähneknirschend ein teures Economyticket buchen. Zum Glück hat mir Patrick dabei geholfen einen Platz in der Business Class auf Meilen zu bekommen, sodass ich mir 4600€ gespart habe und auch die Economy Class auf dem langen Flug vermeiden konnte!
            </p>
          </div>
          <div class="clear_floats">
            <h5>Das sagt Stefan M.:</h5>
            <figure class="figure float_left">
                <img class="img-fluid max-width: 100% height: auto rounded float-left" src="../../assets/stefan.jpg" alt="SMeilenberatung: Stefan" width="269" height="285" />
                <figcaption class="figure-caption">Stefan</figcaption>
            </figure>
            <p>
                Ich habe bei einer großen Consultingfirma gearbeitet und durch die wöchtenliche Pendelei viele Meilen gesammelt. Für die zu dem Zeitpunkt bereits geplante Round-the-World Hochzeitreise wollte ich meine Verlobte überraschen und die zuvor gesammelten Meilen sinnvoll einsetzen. Da die Meilen nicht für die ganze Reise gereicht haben, hat mir Patrick eine optimale Route zusammengestellt, wobei ein Teil aus bezahlten Tickets und ein Teil aus Meilentickets in Business- und First Class bestand. Krönender Abschluss der Reise war der letzte Flug, der uns mit Swiss von Hongkong in der First Class direkt nach Hause brachte. Ohne die Unterstützung von Patrick hätte ich die entsprechenden Flüge niemals gefunden und hätte nie in Erfahrung gebracht, dass ich mit dem Senator Companion Award 50% der Meilen für meine Verlobte sparen kann!
            </p>
          </div>
          <div  class="clear_floats">
          <hr />
          <h3>Leistungsangebot der Meilenberatung:</h3>
          <ul>
              Spezifische Leistungen zum optimalen Einlösen der Punkte für ein luxuriöses Reiseerlebnis inkludieren:
           <li><strong>Persönliches Gespräch über die vorhandenen Punkte und die gewünschte Destination</strong></li>
           <li>Strategien zum Generieren <strong>fehlender Meilen oder Punkte </strong></li>
           <li><strong>Abfrage der Verfügbarkeiten</strong> für Flüge und Hotels - da Airlines nicht  auf jedem Flug Awardplätze anbieten muss dabei etwas Flexibilität bezüglich der Reisetage oder der Abflug- und Zielorte gegeben sein.</li>
           <li><strong>Verschiedene Vorschläge </strong>für Flüge und Hotels.</li>
           <li>Nach Rücksprache <strong>mehrmalige Adaptierung der Vorschläge</strong><br><em>Preis: 169€</em></li>
            <li>Zusätzliche Übernahme der <strong>Buchung der Awardflüge:</strong><br><em>Preis: 49€</em></li>
           </ul>
           <a href="http://www.meilenpunkteundmehr.de/kontakt/">Hier</a> kannst du Patrick eine <strong>unverbindliche Anfrage</strong> für die Meilenberatung schicken.
          </div>
        </div>
      <app-right-bar class="col-lg-3 col-sm-4 background1"></app-right-bar>
    </div>
  </div>
  </div>
