<nav class="navbar fixed-top navbar-expand-lg navbar-dark custom_navbar">
  <div>  
    <a class="navbar-brand" href="/">
      <img src="../../assets/mpum_logo_ohne-fuellung.png" height="30" alt="">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sammeln
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="membership-rewards-punkte-sammeln">American Express Membership Rewards</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="miles-more-meilen-sammeln">Miles & More</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="executive-club-avios-sammeln">Executive Club</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="flying-blue-meilen-sammeln">Flying Blue</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Einlösen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="miles-more-meilen-einloesen">Miles & More</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="executive-club-avios-einloesen">Executive Club</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="flying-blue-meilen-einloesen">Flying Blue</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Status
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="miles-more-status">Miles & More</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="executive-club-status">Executive Club</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="flying-blue-status">Flying Blue</a>
          </div>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Kreditkarten
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="kreditkarten-deutschland-meilen-sammeln">Deutschland: Mit Meilensammelfunktion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="kreditkarten-deutschland-kostenlos-bargeld-abheben">Deutschland: kostenlos Bargeld abheben</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="kreditkarten-oesterreich-meilen-sammeln">Österreich: Mit Meilensammelfunktion</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="kreditkarten-oesterreich-kostenlos-bargeld-abheben">Österreich: kostenlos Bargeld abheben</a>
          </div>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="ueber-patrick-meilenexperte">Über Patrick<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
            <a class="nav-link" href="meilenberatung">Meilenberatung<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="./kontakt">Kontakt<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item active">
        <a class="nav-link" href="./signup">Signup<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="./login">Login<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small white pt-4 mt-4">    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <a class="pull-left">© 2018 Meilen, Punkte & mehr!</a>
        <a class="pull-right" href="impressum">Impressum<span class="sr-only">(current)</span></a>
    </div>
</footer>


