<div class=" background2">
        <div class="container  background1">
            <div class="row">
                <div class="col-lg-9 col-sm-8">
                    <br>
                    <h1><strong></strong>Miles & More – Meilen sammeln</h1>
                    <p>Diese Seite gibt dir einen Überblick, wie du einen "Freiflug", einen sogenannten Award, bei Miles &amp; More buchen kannst. So kannst du deine Miles &amp; More Meilen einlösen:</p>
				    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Awardtabelle - Wie viele Meilen kostet ein Flug?</h2>
                    <p>
                        Die Awardtabelle gibt an, wie viele Meilen von welcher Region in welche Region je Beförderungsklasse fällig werden. Dabei wird der Meilenpreis für einen Hin- und Rückflug angezeigt.
                        <br><strong>Beispiel 1: Europa nach Nordamerika:</strong> 60.000 in Economy Class, 80.000 in Premium Economy Class,105.000 in Business Class, 170.000 in First Class
                        <br><strong>Beispiel 2: Europa nach Australien:</strong> 100.000 in Economy Class, 185.000 in Business Class, 290.000 in First Class
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <p>
                    Eine Award Region umfasst mehrere Länder in denen ein einheitlicher Meilenpreis gilt. So fallen beispielsweise alle europäischen Länder in die Region Europa. Einige Inseln wie Madeira oder die Azoren zählen aber trotz ihrer politischen Zugehörigkeit nicht dazu.
                    <br>Achtung: Sobald man in einer 3. Region umsteigt wird ein 3-Regionen Award fällig (siehe unten).
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Freie Awardplätze</h2>
                    <p>Um einen Flug mit Meilen zu buchen muss ein freier Awardplatz auf dem gewünschten Flug verfügbar sein.
                    <br>Grundsätzlich kannst du  Miles &amp; More Meilen für Flüge mit allen Star Alliance Mitgliedern einlösen. <a href="https://www.miles-and-more.com/online/myportal/mam/at/spend/flight/offer?nodeid=2509586&amp;l=de&amp;cid=18001" target="_blank" rel="noopener noreferrer">Online </a>können neben Flüge von Lufthansa, Austrian Airlines, Swiss, Brussels Airlines, LOT, Adria Airways und Condor mittlerweise auch viele andere Airlines gebucht werden. Eurowings Prämien können direkt bei <a href="https://www.eurowings.com/skysales/BonusOverview.aspx?culture=de-DE" target="_blank" rel="noopener noreferrer">Eurowings</a> gebucht werden.<br><br>
                    Soll der Award von einer Star Alliance Fluggesellschaft durchgeführt werden, die nicht online buchbar ist, dann muss das Ticket telefonisch gebucht werden. Für die Suche nach einem Platz kannst du entweder die Hotline anrufen oder die Webseite einer anderen Star Alliance Fluggesellschaft wählen. Hier empfiehlt sich die Seite von <a href="https://www.united.com/ual/de/de/" target="_blank" rel="noopener noreferrer">United Airlines</a>.
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Steuern und Gebühren - Gibt es Freiflüge wirklich?</h2>
                    <p>
                        Ein Awardticket ist ein Flug der mit Meilen bezahlt wird. Das bedeutet nicht, dass für diesen kein Geldbetrag anfällt. Vielmehr wird der für den reinen Flugpreis fällige Anteil des Flugtickets mit Meilen begleichen. Zusätzlich werden in der Regel <strong>Steuern und Gebühren</strong> fällig.
                        <br><br>Beim Einlösen von Meilen bei Miles &amp; More gibt es einiges zu beachten. Allem voran stehen die heftigen <strong>Steuern und Gebühren</strong>, die Miles &amp; More zusätzlich zu den für den Award benötigten Meilen erhebt. Diese hängen von der Strecke und von der gebuchten Beförderungsklasse ab. Sie sind von wenigen Ausnahmen abgesehen im Vergleich zu anderen Vielfliegerprogrammen ziemlich hoch.
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <p>Auch wenn diese als "Steuern, Gebühren und Zuschläge" bezeichnet werden ist nur ein Teil des Betrages auf wirkliche Steuern und Gebühren zurückzuführen. Nachfolgend sind die einzelnen Komponenten des Betrages aufgeführt:
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <p>Die durch 4-stellige Abkürzungen gekennzeichneten Beträge stellen echte Steuern und Gebühren für Luftverkehrssteuer, Sicherheitskontrolle, etc. dar. Zusätzlich verlangt Lufthansa noch einen "Internationalen / Nationalen Zuschlag". Dabei handelt es sich um nichts anderes als um einen <strong>zusätzlichen Betrag</strong>, den Lufthansa zu den 105.000 Meilen kassiert.
                    <br><br>Aus diesem Grund spreche ich lieber von Award Tickets als von Freiflügen. Diese Zuschläge lassen sich auf einigen Strecken vermeiden, beispielsweise bei Abflug in Brasilien.
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Meilenschnäppchen</h2>
                    <p>
                        Miles and More veröffentlicht jeden Monat neue <a href="http://www.meilenschnaeppchen.de/" target="_blank" rel="noopener noreferrer">Meilenschnäppchen</a>, mit denen sich Award Tickets zum halben Preis buchen lassen. Diese müssen online gebucht werden.
                        <br>Achtung: Umbuchungen sowie Stornierung sind nicht gestattet!
                    </p>
                    <h2>Miles &amp; More Meilen einlösen: Vorteile als Senator oder HON Circle Member</h2>
                    <h4>Companion Award:</h4>
                    <p>Wenn du einen Senator oder HON Circle Status hast, bekommst du auf eine gemeinsame Buchung von 2 Awardplätzen 50% Rabatt auf den Meilenpreis der 2. Person (Companion). Der Flug muss von der Lufthansa Group ausgeführt werden. Die Buchung muss für beide Personen zusammen erfolgen, bei einer Stornierung werden beide Tickets storniert. Um in diesem Fall die Buchung des Companion aufrecht zu erhalten, müssen die fehlenden 50% der Meilen nachgezahlt werden. Falls du deinen Status Ende Februar verlierst kannst du trotzdem noch einen Companion Award für einen späteren Zeitpunkt buchen.</p>
                    <h4>Senator Premium Award:</h4>
                    <p>
                        Als Senator oder HON Circle Member hat man außerdem Zugriff auf den Senator Premium Award. Dabei werden zusätzliche Awardplätze freigegeben, auch wenn die regulären Awardplätze bereits vergeben sind. Dafür ist der 1,5-fache Betrag des regulären Meilenpreises zu bezahlen. Diese Awards können für Flüge auf Lufthansa, Adria, LOT, Austrian, Swiss, Croatian und Brussels Airlines (Economy oder Business) 1-6 Monate vor Abflug gebucht werden.
                        <br>Der Senator Premium Award ist auch für Mitreisende anwendbar, selbst wenn der Senator auf einem Bezahlticket gebucht ist.
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Upgrades</h2>
                    <a href="https://www.miles-and-more.com/online/myportal/mam/de/spend/flight/offer?nodeid=2504890&amp;l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">Upgrades</a> in eine höhere Beförderungsklasse sind bei Miles &amp; More entweder mit Meilen oder mit eVouchern möglich.
                    <h4>Meilen:</h4>
                        <p>Voraussetzung für ein Upgrade ist bei Miles and More, dass die gebuchte Buchungsklasse upgradefähig ist. Das sind in der Regel nur die höherpreisigeren Buchungsklassen.
                        <br><br>Eine Übersicht über die Meilenpreise findest du <a href="http://www.miles-and-more.com/mediapool/pdf/18/media_1432783318.pdf" target="_blank" rel="noopener noreferrer">hier</a>.
                        <br><br>Anhand dieser Tabelle lässt sich auch der<strong> Meilenpreis für das Upgrade</strong> erkennen. So kostet ein Upgrade von Europa nach Nordamerika aus einer teuren Economy Buchungsklasse (B, Y) in Business Class 35.000 Meilen während mit einer günstigeren Buchungsklasse 50.000 Meilen fällig werden.
                        <br>Je nach Airline sind bestimmte Buchungsklassen ausgeschlossen. So ist bei Lufthansa ein Upgrade aus den günstigsten Economy Buchungsklassen K,L,T nicht möglich. Ebenso sind die Business Buchungsklassen P und Z von einem Upgrade in die First Class ausgeschlossen.
                    </p>
                    <h4>eVoucher:</h4>
                    <p>Als Senator erhält man mit jeder Statusverlängerung 2 eVoucher pro Jahr, als HON Circle Member 6 Stück. Diese können für Upgrades von upgradefähigen Buchungsklassen eingesetzt werden:</p>
                    <br><br>
                    <ul>
                        <li>Economy Class in die Premium Economy Class = 1 eVoucher</li>
                        <li>Premium Economy in die Business Class = 1 eVoucher</li>
                        <li>Economy Class in die Business Class = 2 eVoucher</li>
                        <li>Business Class in die First Class = 2 eVoucher</li>
                    </ul>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h2>Miles &amp; More Meilen einlösen: Spezielle Awards</h2>
                    <h4>3 Regionen Award:</h4>
                    <p>Wenn du einen Award buchen möchtest bei dem ein Umstieg in einer 3. Region erforderlich ist, dann kommt der 3 Regionen Award zum Zug. Dieser kostet 100.000 Meilen in der Economy Class, 185.000 in der Business Class und 290.000 in der First Class. Die berührten Regionen müssen auf dem Hin- und Rückflug nicht identisch sein.
                    <h4>Beispiel 1:</h4>
                    <p>Ein Award Europa - Ozeanien ist ein Beispiel für einen 3 Regionen Award. Das liegt daran, dass es keine Direktverbindung zwischen Europa und Australien gibt und ein Umstieg in Asien erforderlich ist. Dafür ist aber auch je ein Stopover auf dem Hin- und Rückflug in der Umstiegsregion erlaubt.</p>
                    <h4>Beispiel 2:</h4>
                    <p>Europa - Nordamerika - Fernost - Nordamerika - Europa entspricht einem 3 Regionen Award. Auf dem Hin- und Rückflug ist jeweils ein Stopover in Nordamerika erlaubt.</p>
                    <h4>Round the World:</h4>
                    <p>
                        Wenn dein Ticket eine Atlantik- und eine Pazifiküberquerung enthält handelt es sich um einen Round the World Award. Dieser darf maximal aus 10 Flugsegmenten und 7 Stopovern bestehen. Die Kosten betragen 180.000 in Economy Class, 325.000 in Business Class und 480.000 in First Class. Ein einzelner Flughafen darf dabei maximal zwei mal angeflogen werden.
                        <br><br>Hier findest du die <strong>Preise für den 3 Regionen Award</strong> und den Round the World Award als Auszug aus dem Award Chart:
                    </p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h4>Fly Smart:</h4>
                    <p>Miles and More schaltet zwischen 14 und 2 Tagen vor Abflug spezielle Kontingente zu <a href="https://www.miles-and-more.com/online/myportal/mam/de/spend/flight/offer?nodeid=2530228&amp;l=de&amp;cid=18002" target="_blank" rel="noopener noreferrer">reduzierten Meilenpreisen</a> frei. Diese sind ausschließlich online buchbar. Hier findest du die reduzierten Meilenwerte:</p>
                    <figure>
                        <img class="img-fluid max-width: 100% height: auto" src="BILD" alt="So wurde ich Meilenexperte: Meine Reisekarte" width="1418" height="645" />
                    </figure>
                    <h4>Kind &amp; Babies:</h4>
                    <p>Eine Flugprämie für ein Kind (2-11 Jahre) kostet 75% des Meilenpreises. Babies bis 2 Jahre lassen sich kostenfrei zu jedem Award Ticket hinzubuchen. Dies muss allerdings bis spätestens 2 Tage vor Abflug gemacht werden.</p>
                    <h2>Miles &amp; More Meilen einlösen: Weitere Regeln</h2>
                    <h4>Oneways:</h4>
                    <p>Reine Hinflüge sind bei Miles &amp; More möglich. Diese kosten 50% des Meilenpreises des Award Charts. Ein Stopover (über 24 Stunden Aufenthalt) ist dabei allerdings nicht gestattet. Ein Layover (unter 24 Stunden Umsteigezeit) und Anschlussflüge sind natürlich möglich.</p>
                    <h4>Anschlussflüge:</h4>
                    <p>Die Anzahl der erlaubten Anschlussflüge richtet sich nach der Anzahl der Regionen (siehe oben) und pro Richtung. Pro berührter Region ist 1 weiterer Anschlussflug gestattet.</p>
                    <h5>1 Region:</h5>
                    <a>Flug innerhalb Europas - 1 Anschlussflug z.B. München - Frankfurt - Wien<br>Ausnahme: Wenn das Ziel nicht mit einmaligem Umsteigen erreicht werden kann ist ein 2. Anschlussflug gestattet.</a>
                    <h5>2 Regionen:</h5>
                    <a>Flug Europa - USA - 2 Anschlussflüge z.B. München - Frankfurt - New York - Los Angeles</a>
                    <h5>3 Regionen:</h5>
                    <a>Flug Europa - Südostasien - Ozeanien - 3 Anschlussflüge z.B. München - Frankfurt - Bangkok - Singapur - Sydney</a>
                    <h4>Umbuchung / Stornierung:</h4>
                    <p>Vor der Ticketausstellung ist dies kostenfrei möglich. Nach Ticketausstellung fällt eine Gebühr von 50€ an. Fly Smart Prämien und Meilenschnäppchen sind von der Rückerstattung ausgeschlossen.</p>
                </div>
                <app-right-bar class="col-lg-3 col-sm-4 background1"></app-right-bar>
            </div>
        </div>
</div>